{% extends "base.html" %}
{% block content %}
    {% load bootstrap4 %}

    {% if not error %}
        <h5>Enter new option:</h5>
        <form method="post" class="form-group">
            {% csrf_token %}
            {% bootstrap_form text_form %}
            {% if check_form %}
                {% bootstrap_form check_form %}
            {% endif %}
            <input type="submit" value="Add" class="btn btn-primary"/></form>
        </form>
    {% else %}
        <h5>Error: </h5> {{ error }}
    {% endif %}

{% endblock %}
